In [1]:
import pandas as pd
import numpy as np

In [2]:
athletes = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-08-03/athletes.csv')

In [3]:
athletes.to_csv("data/athletes.csv",index=False)

In [4]:
athletes_raw = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-08-03/athletes.csv')
athletes_raw.to_csv("data/athletes_raw.csv",index=False)

In [5]:
athletes.head()

,gender,event,medal,athlete,abb,country,grp_id,type,year,guide
0,Men,Double FITA Round Amputee,Gold,LARSEN Finn,DEN,NaN,NaN,Archery,1980,NaN
1,Men,Double FITA Round Amputee,Silver,BRENNE Manfred,FRG,NaN,NaN,Archery,1980,NaN
2,Men,Double FITA Round Amputee,Bronze,SATO Masao,JPN,NaN,NaN,Archery,1980,NaN
3,Men,Double FITA Round Paraplegic,Gold,GEISS H.,FRG,NaN,NaN,Archery,1980,NaN
4,Men,Double FITA Round Paraplegic,Silver,GRUN Guy,BEL,NaN,NaN,Archery,1980,NaN

In [6]:
pd.read_csv("data/athletes.csv").head()

,gender,event,medal,athlete,abb,country,grp_id,type,year,guide
0,Men,Double FITA Round Amputee,Gold,LARSEN Finn,DEN,NaN,NaN,Archery,1980,NaN
1,Men,Double FITA Round Amputee,Silver,BRENNE Manfred,FRG,NaN,NaN,Archery,1980,NaN
2,Men,Double FITA Round Amputee,Bronze,SATO Masao,JPN,NaN,NaN,Archery,1980,NaN
3,Men,Double FITA Round Paraplegic,Gold,GEISS H.,FRG,NaN,NaN,Archery,1980,NaN
4,Men,Double FITA Round Paraplegic,Silver,GRUN Guy,BEL,NaN,NaN,Archery,1980,NaN